{% extends "layout.html" %}

{% block content %}
<main class="relative mx-auto" style="max-width: 36rem; margin-bottom: 4rem;">
    <h1 class="text-slate-600 font-semibold text-3xl my-2">Sobre mí</h1>
    <hr>
    <h3 class="my-2 text-nowrap" style="font-size: 20px;">¡Hola! 🙋 Este es mi blog personal y es un gusto tenerte por aquí.</h3>
    <p>Publicaré cosas sobre <i>tecnología</i>, <i>literatura</i>, <i>temas varios!</i></p>
    <p>Soy un estudiante apasionado por la tecnología, tengo 19 años y soy de Colombia!</p>
    <div class="flex items-center">
        <img width="48" height="48" src="https://img.icons8.com/external-others-iconmarket/64/external-colombia-flags-others-iconmarket.png" alt="Bandera de Colombia"/><p class="ml-1"><i>Barranquilla, Colombia</i></p>
    </div>
    <hr class="my-2">
    <h1 class="text-slate-600 font-semibold text-2xl my-2">Publicaciones disponibles:</h1>
</main>
{% endblock %}