{% extends "layout.html" %}

{% block content %}
<main class="flex items-center justify-center 320x566:flex-col 320x566:mb-14">
    {% if publicaciones %}
        {% for publicacion in publicaciones %}
        <div class="mx-2 my-6 transition-all border rounded shadow-xl hover:transform hover:scale-105 bg-stone-100 hover:border-slate-400">
            <div class="">
                <img src="{{publicacion.imagen.url}}" alt="{{publicacion.titulo}}" class="w-full rounded" style="height: 286px; width: 286px;">
            </div>
            <h1 class="m-2 text-xl text-center text-blue-400">{{publicacion.titulo}}</h1>
            <div class="flex justify-center my-2">
                <a href="{% url 'Post' publicacion.id %}" class="p-1 font-semibold text-center text-white transition-all bg-blue-600 border-none rounded hover:bg-blue-500">Ver publicación
                </a>
            </div>
            <div class="flex items-center">
                <img src="{{publicacion.autor.icono_perfil.url}}" alt="" class="w-8 h-8 mx-2 my-2">
                <p class="text-sm text-blue-400">{{publicacion.autor}}</p>
                <p class="ml-4 text-sm">{{publicacion.fecha|date:"M d, Y"}}</p>
            </div>
        </div>
        {% endfor %}
    {% else %}
    <h2 class="text-xl font-semibold text-red-700">¡No hay posts disponibles! ⚠️</h2>
    {% endif %}
</main>
{% endblock %}